$container-width: 61.25rem;
//$container-padding: 1.25rem;
$dialog-list-background: #f3f6f8;
$dialog-subject-color: rgba(53, 56, 61, 1);
$border-color: #e9edf2;
$preview-message-color: #7d8790;
$preview-date-color: #b7c0c8;
$active-preview-background-color: white;
$primary: #398bff;
